html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



body {
    margin: 0;
    background-color: #F3F3F3;
}


.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position:fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #41A5AB;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
    margin-left: 220px;
    padding: 20px 16px;
    width: 100%;
    height: max-content;
}

.main-container {
    position: absolute;
    left: 0px;
}

.firstrow{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin:1rem;

}

.firstcard, .secondcard, .thirdcard {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.firstcard:hover, .secondcard:hover, .thirdcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.firsttitle {
    color: #41A5AB;
}

.secondtitle {
    color: #F54871;
}

.thirdtitle {
    color: #7EAD68;
}

span{
    color:grey;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .firstrow{
    display: inline;

  }

  .sidebar a {float: left; width: 100%}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}