@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class=main-container>

    <!---SIDE BAR--->

    <div class="sidebar">
      <a class="active" href="#home">Dashboard</a>
      <a asp-area="" asp-page="/Utilities">Utilities</a>
    </div>

    <!---DASHBOARD CONTENT--->

    <div class=content>
      <h1 class="dash">Dashboard</h1>
      <br/>
      <div class="firstrow">
          <div class="card">
              <div class="container">
                <h5 class="firsttitle">Total no. of patients: <span class="totalno">43</span></h5> 
                <p>Current patients: <span class="current">43</span></p>
                <p>Discharged: <span class="discharge">5</span></p>
                <p>Admits: <span class="admit">43</span></p>
              </div>
          </div>
          <div class="card">
              <div class="container">
                <h5 class="secondtitle">Total no. of patients w COVID <span class="totalcov">24</span></h5> 
                <p>Deaths: <span class="death">5</span></p>
                <p>Recoveries: <span class="recover">2</span></p>
                <p>Active Cases: <span class="active">8</span></p>
                <p>New Cases: <span class="new">10</span></p>
              </div>
          </div>
          <div class="card">
              <div class="container">
                <h5 class="thirdtitle">Total no. of patients w/o COVID</h5> 
                <p class="noncovid">15</p> 
              </div>
          </div>
      </div>
      <div class="firstrow">
          <div class="card">
              <div class="container">
                <h5 class="firsttitle">Total no. of patients: <span class="totalno">43</span></h5> 
                <p>Current patients: <span class="current">43</span></p>
                <p>Discharged: <span class="discharge">5</span></p>
                <p>Admits: <span class="admit">43</span></p>
              </div>
          </div>
          <div class="card">
              <div class="container">
                <h5 class="secondtitle">Total no. of patients w COVID <span class="totalcov">24</span></h5> 
                <p>Deaths: <span class="death">5</span></p>
                <p>Recoveries: <span class="recover">2</span></p>
                <p>Active Cases: <span class="active">8</span></p>
                <p>New Cases: <span class="new">10</span></p>
              </div>
          </div>
          <div class="card">
              <div class="container">
                <h5 class="thirdtitle">Total no. of patients w/o COVID</h5> 
                <p class="noncovid">15</p> 
              </div>
          </div>
      </div>
    </div>
</div>
